.aboutme-container {
    padding: 20px;
    margin: 20px 0;
}

.aboutme-column-container {
    columns: 1;
}

.aboutme-profile-img-container {
    width: 90%;
    margin: 0 auto;
}

.aboutme-profile-img {
    width: 100%;
}

.aboutme-occupation {
    text-align: center;
    font-size: 2rem;
    margin: 20px 0;
}

.aboutme-brand-statement {
    text-align: justify;
    font-size: 1.5rem;
    margin: 20px 0;
}

.aboutme-skills {
    text-align: center;
    font-size: 2rem;
    margin: 20px 0;
}

.aboutme-list-container {
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    height: 230px; */
    columns: 2;
}

.aboutme-list-item {
    font-size: 1.5rem;
    width: 100px;
    margin: 0 auto;
    list-style: none;
}

.aboutme-list-style {
    font-size: 1rem;
    margin: 0 2px;
}