.aboutme-container {
    padding: 20px;
    margin: 20px 0;
    font-family: bebas-neue-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
}

.aboutme-column-container {
    columns: 1;
}

.aboutme-profile-img-container {
    width: 90%;
    margin: 0 auto;
}

.aboutme-profile-img {
    width: 100%;
}

.aboutme-occupation {
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
    text-transform: uppercase;
}

.aboutme-brand-statement {
    margin: auto;
    margin-top: 10px;
    text-align: justify;
    font-size: 1.8rem;
    width: 90%;
}

.aboutme-skills {
    text-align: center;
    font-size: 2rem;
    margin-top: 40px;
    text-transform: uppercase;
}

.aboutme-list-container {
    margin-top: 15px;
    columns: 2;
}

.aboutme-list-item {
    font-size: 1.8rem;
    width: 100px;
    margin: 0 auto;
    list-style: none;
}

.aboutme-list-style {
    font-size: 2rem;
    margin: 0 2px;
}

.aboutme-resume-button {
    max-width: 120px;
    width: 50%;
    height: 50px;
    margin: 60px auto 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: bebas-neue-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 1.6rem;
}
/* Responsive Designs */

@media only screen and (min-width: 500px) {
    .aboutme-profile-img-container {
        width: 300px;
    }
  }


@media only screen and (min-width: 600px) {
    
    .aboutme-container {
        background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
        url(../../../resources/images/backgroundHorizontal.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 40px 0px;
        margin: -20px 0px;
        z-index: -1;
    }
    
    .aboutme-column-container {
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr;
    }

    .aboutme-left-column {
        
    }

    .aboutme-right-column {
        
    }

    .aboutme-profile-img-container {
      
    }

    .aboutme-occupation {
      
    }

    .aboutme-brand-statement {
        
    }
    
    .aboutme-skills {
        
    }
    
    .aboutme-list-container {

    }
}

