.banner-container {
    width: 100vw;
    height: 95vh;
    margin: 0 auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-logo-container {
    width: 350px;
    z-index: 100;
    margin-bottom: 20px;
}

.banner-logo {
    width: 100%;
}


/* Option One */

.banner-background-container {
    width: 0vw;
    height: 100vh;
    position: absolute;
}

.banner-background-image {
    height: 100%;
    transform: translateX(-40%);
    
    
}

/* Option Two */


/* .banner-background-container {
    width: 100vw;
    position: absolute;
}

.banner-background-image {
    width: 100%;
    transform: translateY(-5%);
} */